.header {
  display: flex;
  height: 150px;
  background-color: var(--green-color);
  color: var(--white-color);
  align-items: center;

  &__nav {
    display: flex;
    flex: content;
    justify-content: space-between;
  }

  &__menu {
    display: flex;
    font-weight: 500;
    gap: 48px;
    align-items: center;
  }

  &__menu a {
    text-decoration: none;
    color: var(--white-color);
  }

  &__phone {
    display: flex;
    color: var(--yellow-color);
    align-items: center;
  }

  &__phone a {
    color: var(--yellow-color);
    text-decoration: none;
  }
}
